/* Projeto com Parallax: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
:root {
    /* BG ESCOLHIDOS: */
    --bg-color-A: rgb(200, 180, 150);
    --bg-color-B: rgb(235, 215, 185);
    --bg-color-C: rgb(240, 220, 210);
    --bg-color-D: rgb(227, 209, 183);
    /* BG OPACIDADE ESCOLHIDOS: */
    --bg-color-A-opac: rgb(200, 180, 150, 0.7);
    --bg-color-B-opac: rgb(235, 215, 185, 0.7);
    --bg-color-C-opac: rgb(240, 220, 210, 0.7);

    /* TEXT ESCOLHIDOS: */
    --text-color-A: rgb(60, 90, 60);
    --text-color-B: rgb(152, 172, 144);
    --text-color-C: rgb(245, 240, 230);
   
    /* RASCUNHO: */
    /* OPÇÕES PARA BACKGROUND: */
    background-color: rgb(227, 209, 183);
    background-color: rgb(245, 235, 220);
    background-color: rgb(235, 215, 185);
    background-color: rgb(210, 200, 190);
    background-color: rgb(240, 220, 210);
    background-color: rgb(200, 180, 150);
    /* OPÇÕES PARA TEXTO: */
    color: rgb(0, 0, 0);
    color: rgb(50, 50, 50);
    color: rgb(90, 60, 40);
    color: rgb(120, 40, 60);
    color: rgb(245, 240, 230);
    color: rgb(190, 215, 180);
    color: rgb(152, 172, 144);
    color: rgb(120, 150, 100);
    color: rgb(60, 90, 60);
    /* TEXT ESCOLHIDOS: */
    color: rgb(245, 240, 230);
    color: rgb(152, 172, 144);
    color: rgb(60, 90, 60);
    /* BG ESCOLHIDOS: */
    background-color: rgb(240, 220, 210);
    background-color: rgb(235, 215, 185);
    background-color: rgb(200, 180, 150);
}
body {
    background-color: var(--bg-color-B);
    color: var(--text-color-A);
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px; /* Ajuste conforme a altura do menu */
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: var(--text-color-A);
    letter-spacing: 1.2px;
    text-align: center;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-color: var(--bg-color-B);
}
.content {
    width: 100%;
    /* max-width: 760px; */
    margin: 0 auto;
    padding: 0 20px;
}
section.module p {
    margin-bottom: 20px;
    /* margin-bottom: 40px; */
}
/* Último parágrafo sem margin-bottom: */
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 30px;
    margin-top: 20px;
}
section.module.content {
    background-color: var(--bg-color-B);
    width: 100%;
}
.module.content.consideracoes,
.module.content.unidade,
.module.content.bairro {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 80px;
}
/*! VERIFICAR MOVIMENTO DOS CARDS */
.module.content.consideracoes .container,
.module.content.unidade .container,
.module.content.bairro .container {
    flex: 1;
    border: 1px solid var(--bg-color-C-opac);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-color-D);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    /* Efeitos: */
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}
.module.content.consideracoes .container:hover,
.module.content.unidade .container:hover,
.module.content.bairro .container:hover {
    /* Efeito de Flutuação (Levitar) */
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    /* Efeito de Brilho no Borda (Glow Effect) */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 0 0 10px var(--bg-color-C-opac);
}
.container.parametros-gerais .box-colunas {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 80px;
}
/* *************************************** */
/** Faixa fixa no topo - Botões Link */
/* *************************************** */
.faixa-topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-B-opac);
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* Container dos botões: */
.box-btn {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0;
    background-color: transparent;
}
/*  */
/* Estilo dos botões principais */
.menu-item {
    position: relative;
    /* display: inline-block; */
    display: flex; 
    /* justify-content: space-between; */
    /* min-width: 100px; */
}
.menu-btn {
    background-color: transparent;
    border: none;
    color: var(--text-color-A);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.menu-btn:hover {
    color: var(--text-color-B);
}
/* Submenu (escondido por padrão) */
.submenu {
    /* display: none; */
    position: absolute;
    top: 100%; /* Coloca o submenu abaixo do botão */
    left: 0;
    width: auto;
    white-space: nowrap;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-color-B-opac);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 0  0 5px 5px;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    /* pointer-events: none; */
}
/* Mostrar o submenu ao passar o mouse no menu-item */
.menu-item:hover .submenu,
.menu-item.active .submenu {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    /* transform: scale(1); */
    /* pointer-events: auto; */
}
.submenu a {
    display: block;
    color: var(--text-color-A);
    text-decoration: none;
    font-size: 24px;
    padding: 5px 10px;
}
.submenu a:hover {
    color: var(--text-color-B);
}
/* Mostrar o submenu quando o botão for clicado */
/* .menu-item.active .submenu {
    display: block;
} */
/* rever */
.box-btn button {
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.box-btn button a {
    text-decoration: none;
    color: var(--text-color-A);
    font-size: 30px;
    font-weight: 600;
}
.box-btn button a:hover {
    color: var(--text-color-B);
}
/* *************************************** */
/** Parâmetro Geral para Imagens do Parallax: */
/* *************************************** */
section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* Prende a Img no Fundo: */
    background-attachment: fixed;
    background-size: cover;
    /* Para demais Navegadores: */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/* Efeito Sombreado dentro do Parallax: */
section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

    /** Opções de Cores para Sombra: */
    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 120%); */
    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, rgb(152, 172, 144) 120%); */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, rgb(200, 180, 150) 120%);

    /** Demais navegadores: */
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, rgb(200, 180, 150) 120%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, rgb(200, 180, 150) 120%);
}
/* *************************************** */
/** ESTILIZAÇÃO IMAGENS PARALLAX:  */
/* *************************************** */
/* Primeira IMG Parallax: */
section.module.parallax-sp {
    background-image: url('../img/Grande_Sao_Paulo.jpg');
}
/* Segunda IMG Parallax: */
section.module.parallax-planilha {
    background-image: url('../img/planilha-grafico-004.jpeg');
}
/* Terceira IMG Parallax: */
section.module.parallax-alto {
    background-image: url('../img/Rua-Camburiu.png');
}
/* IMG Parallax Apto 01: */
section.module.parallax-apto01 {
    background-image: url('../img/Rua-Camburiu.png');
}
/* IMG Parallax Apto 02: */
section.module.parallax-apto02 {
    background-image: url('../img/Rua-Camburiu.png');
}
/* *************************************** */
/** ESTILIZAÇÃO BACKGROUND TRANSPARENTE:  */
/* *************************************** */
section.module.parallax div.box-text {
    /* Rever uma Sombra que Destque o Texto: */
    background-color: var(--bg-color-B-opac);
    width: 60%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    align-items: start;
}
/* BACKGROUND TRANSPARENTE: */
section.module.parallax div.box-subtext {
    background-color: var(--bg-color-B-opac);
    width: 45%;
    border-radius: 0 0 10px 0;
    padding: 20px;
    align-items: start;
}
/* *************************************** */
/** ESTILIZAÇÃO TEXTO DENTRO DO PARALLAX:  */
/* *************************************** */
/* Efeito Textos dentro do Paralax: */
section.module.parallax h1 {
    /* text-align: center; */
    text-align: left;
    font-size: 36px;
    z-index: 50;
    /* text-transform: uppercase;     */
}
section.module.parallax h2 {
    /* text-align: center; */
    text-align: left;
    font-size: 28px;
    z-index: 50;
}
section.module div.dados-apto {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 30px;
    gap: 20px;
    z-index: 51;
}
/* *************************************** */
/** ESTILIZAÇÃO DA TABELA  */
/* *************************************** */
table {
    width: 95%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    /* margin-bottom: 30px; */
    margin: 20px;
    align-items: center;
}
th, td {
    color: var(--text-color-A);
    border: 1px solid var(--text-color-C);
    padding: 8px;
    text-align: center;
    font-size: 12px;
}
th {
    background-color: var(--bg-color-A);
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: var(--bg-color-A);
}
tr:hover {
    background-color: var(--bg-color-C);
}
td.valor-venda,
td.valor-metro {
    font-weight: 600;
}
/* *************************************** */
/** ESTILIZAÇÃO DOS MOVIMENTOS BIBLIOTECA SCROLLREVEAL  */
/* *************************************** */
/* https://youtu.be/dN7FAswF2HQ?si=cTT26-Zm98NU9hHH */
.reveal-left, .delay-200, .delay-500{
    /* Esconder a propriedade */
    visibility: hidden;
}
/* *************************************** */
/** ESTILIZAÇÃO DOS  */
/* *************************************** */